# Logs
*.log

# Dependency directories
node_modules/
backend/node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build output
dist/

# Temp files
excalidraw.log


# dist.zip
dist.zip

# Environment files
.env
.env.*
!.env.example