{
    admin off
}

:80 {
    encode gzip

    # 代理所有非静态文件的请求到后端
    @static {
        path /favicon.ico
        path /static/*
        path /index.js
        path /main.js
        path /main.css
        path /index.html
    }

    handle @static {
        root * /app/frontend/dist
        file_server
    }

    reverse_proxy localhost:3000
}
